.tableContainer{

}
.tableRowActive{
    background-color: yellow ;
    cursor: pointer;
}
.tableRow{
    cursor: pointer;
}
.filterIcon{
  margin-left: 10px;
    cursor: pointer;
}
.tableHeader{
display: flex;
    background-color: lightskyblue;

}
